{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">
    <h2 class="fw-bolder">Welcome, {{request.user.first_name}}&nbsp;{{request.user.last_name}}!</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-primary bg-gradient border-0 text-light" style="background-color: #3b87fa !important;">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-th-list"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{categories|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Active Categories</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-dark bg-opacity-75 text-light">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-list"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{sub_categories|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Active Sub Categories</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-success bg-opacity-75 text-light">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-user-friends"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{students|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Active Students</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-warning bg-opacity-75 text-light">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{books|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Active Books</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-secondary text-light">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book-open"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{pending|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Pending Transactions</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-dark text-light">
                <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book-open"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{transactions|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>Total Transactions</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div> {% endblock pageContent %} {% block ScriptBlock %}
<script>
</script>
{% endblock ScriptBlock %}