{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    body {
        background-image:url('{% static "assets/default/img/wallpaper1.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    
    #logo-img {
        height: 7em;
        width: 7em;
        object-fit: cover;
        object-position: center center;
    }
    
    #page-title {
        font-size: 3em;
        color: #000000;
        font-family: cursive;
        text-shadow: 2px 2px 12px #b7652a;
    }
</style>
<div class="d-flex flex-column w-100 justify-content-center align-items-center">
    <div class="text-center">
        <img src="{% static 'assets/default/img/logo1.png' %}" alt="Logo" class="bg-gradient bg-dark bg-opacity-75 rounded-circle padding-0 border" id="logo-img">
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 py-5 mb-3">
        <h2 style="color: rgb(217, 236, 252) !important;" class="text-center fw-bolder" id="page-title">{{system_name}}</h2>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-3" style="margin-top: -20px !important;">
        <div class="card card-default rounded-0 shadow" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px!important;">
            <div class="card-header">
                <h4 class="card-title"><b>Login</b></h4>
            </div>
            <div class="card-body" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;">
                <div class="container-fluid">
                    <form id="login-user" action="" method="POST">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="form-group mb-3">
                                    <label for="username" class="control-label">Username</label>
                                    <input type="text" class="form-control rounded-0" autofocus name="username" id="username" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control rounded-0" autofocus name="password" id="password" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-center align-items-center">
                                        <button class="btn btn-sm rounded-0 btn-primary">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#login-user').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'login-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.href = "{% url 'home-page' %}"
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
{% endblock ScriptBlock %}