{% load static %}
<style>
    #book-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<div class="container-fluid">
    <form action="" id="book-form">
        <input type="hidden" name="id" value="{{book.id}}">
        <div class="mb-3">
            <label for="isbn" class="control-label">ISBN</label>
            <input type="text" id="isbn" name="isbn" class="form-control form-control-sm rounded-0" value="{{book.isbn}}" required>
        </div>
        <div class="mb-3">
            <label for="sub_category" class="control-label">Category</label>
            <select type="text" id="sub_category" name="sub_category" class="form-select form-select-sm rounded-0" required>
                {% if not book.category %}
                    <option  disabled selected></option>
                {% else %}
                    <option disabled>Male</option>
                {% endif %}
                {% for sub_category in sub_categories %}
                {% if  book.sub_category.id == sub_category.id %}
                    <option value="{{sub_category.id}}" selected>{{sub_category.category}} - {{sub_category.name}}</option>
                {% else %}
                    <option value="{{sub_category.id}}">{{sub_category.category}} - {{sub_category.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="title" class="control-label">Title</label>
            <input type="text" id="title" name="title" class="form-control form-control-sm rounded-0" value="{{book.title}}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea rows="3" id="description" name="description" class="form-control form-control-sm rounded-0" required>{{book.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="author" class="control-label">Author/s</label>
            <textarea rows="3" id="author" name="author" class="form-control form-control-sm rounded-0" required>{{book.author}}</textarea>
        </div>
        <div class="mb-3">
            <label for="publisher" class="control-label">Publisher</label>
            <input type="text" id="publisher" name="publisher" class="form-control form-control-sm rounded-0" value="{{book.publisher}}" required>
        </div>
        <div class="mb-3">
            <label for="date_published" class="control-label">Date Published</label>
            <input type="date" id="date_published" name="date_published" class="form-control form-control-sm rounded-0" value="{{book.date_published|date:'Y-m-d'}}" required>
        </div>
        <div class="mb-3">
            <label for="status" class="control-label">Status</label>
            <select type="text" id="status" name="status" class="form-select form-select-sm rounded-0" required>
                {% if book.status == '1' %}
                <option value="1" selected>Active</option>
                {% else %}
                <option value="1">Active</option>
                {% endif %}
                {% if book.status == '2' %}
                <option value="2" selected>Inactive</option>
                {% else %}
                <option value="2">Inactive</option>
                {% endif %}
            </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#uni_modal').on('shown.bs.modal', function() {
            $('#sub_category').select2({
                width: "100%",
                placeholder: "Please Select Category Here",
                dropdownParent: $('#uni_modal'),
                selectionCssClass: "form-control form-control-sm rounded-0"
            })
        })
        $('#book-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-book' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>