 {% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="">
        <dl>
            <dt>School ID</dt>
            <dd class="ps-4">{{student.code}}</dd>
            <dt>Department</dt>
            <dd class="ps-4">{{student.department}}</dd>
            <dt>Course</dt>
            <dd class="ps-4">{{student.course}}</dd>
            <dt>Name</dt>
            <dd class="ps-4">{{student.name}}</dd>
            <dt>Gender</dt>
            <dd class="ps-4">{{student.gender}}</dd>
            <dt>Contact #</dt>
            <dd class="ps-4">{{student.contact}}</dd>
            <dt>Email</dt>
            <dd class="ps-4">{{student.email}}</dd>
            <dt>Address</dt>
            <dd class="ps-4">{{student.address}}</dd>
            <dt>Status</dt>
            <dd class="ps-4">
                {% if student.status == '1' %}
                <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Active</span> {% else %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Inactive</span> {% endif %}
            </dd>
        </dl>
    </div>
</div>